
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    border-style: dashed;
    border-color: black;
    border-width: 1px;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    background-color: rgb(221, 221, 221);
}

.left_nav {
    display: flex;
    /* border-style: dashed;
    border-width: 1px; */
    height: 100%;
    align-items: center;
    margin-left: 10px;
    font-weight: 600;
    font-size: 2em;
    gap: 10px;
}

#logo {
    color: rgb(0, 105, 255);
    font-size: larger;
    cursor: pointer;
}

.right_nav {
    display: flex;
    font-weight: 600;
}




ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 7em;
    /* border-style: dashed;
    border-color: red;
    border-width: 1px; */
}

li a {
    position: relative;
}

li a::before {
    content: "";
    position: absolute;
    height: 4px;
    background-color: rgb(27, 37, 65);
    bottom: -6px;
    width: 0;
    border-radius: 2px;
    transition: width .5s ease;
}

li a:hover::before {
    width: 100%;
}

.burger_menu {
    display: none;
}

#nav {
    display: grid;
    align-items: center;
    height: 100%;
}

@media (max-width: 700px) {
    nav {
        margin-right: -100em;
        transition: margin 1s;
        width: 20rem;
    }

    .burger_menu {
        display: flex;
        flex-direction: column;
    }

    .right_nav {
        margin: 0;
        flex-direction: column;
        height: 100em;
        gap: 2em;
        padding-top: 4em;
        padding-left: 3em;
        background-color: grey;
    }

    .show_n {
        margin: 0;
    }
}
